:root {
  font-family: "Poppins", "Manrope", "Segoe UI", system-ui, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #e7f0ff;
  background-color: #000000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

a:hover {
  color: #9fc7ff;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #000000;
}

* {
  box-sizing: border-box;
}
